@import "ionic.globals";

page-login {

  ion-item {}

  .title {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .scroll-content {
    padding: 0px;
    background-image: map-get($backgroundimg, 'default');
    background-size: cover;
  }

  h1 {
    color: map-get($colors , primary );
  }

  ion-input {
    font-weight: lighter;
    color:black;

  }
  .ion-item {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0px solid !important;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 4px;
    height: 55px;
  }

  .div-components{
    padding-top: 30%;
  }
}



