<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!--  <ion-list>
    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label fixed>Produto</ion-label>
          <ion-input
            type="Text"
            placeholder="Digite o Produto"
            text-right
          ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Quantidade</ion-label>
            <ion-input
              type="number"
              placeholder="Digite a Qtd"
              text-right
              value = "1"
            ></ion-input>
          </ion-item>


        <ion-item>
          <ion-label >Tipo</ion-label>
          <ion-select [(ngModel)]="arrTipo.toString" >
              <ion-option *ngFor="let item of arrTipo" value="{{item.value}}">{{item.tipo}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Und. Medida</ion-label>
          <ion-select [(ngModel)]="arrUnidade.toString" >
              <ion-option *ngFor="let item of arrUnidade" value="{{item.value}}">{{item.und}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list> -->
</ion-content>
