page-edit-product {

  .label-product{
    padding-left: 6%;
  }

  .searchbar-input {
    font-size: 1.7rem !important;
}
.searchbar {
  background: #FFF !important;
  border-radius: 10px !important;
  height: 40px !important;
  //max-width: 3px;
  border: 0px solid transparent !important;
}
/* ion-auto-complete {
  width: 200vw;
}
 */
}
