<ion-header>
  <ion-toolbar>
    <ion-title>
      Editar
    </ion-title>
    <ion-buttons clear start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <!--  <ion-icon name="md-close" ></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id='content' class="Pedido-Background" padding>
  <form [formGroup]="myForm" novalidate>
    <div>
      <ion-label class="label-product" stacked>Produto</ion-label>
      <ion-auto-complete type="text" name="produto" [(ngModel)]="nomeProd" [dataProvider]="completeService"
        formControlName="products" [options]="{ placeholder : 'Digite o Produto' }" #searchbar formControlName="products"></ion-auto-complete>
    </div>
    <hr />

    <!--  <ion-item>
    <ion-label stacked>Produto</ion-label>
    <ion-input type="text" name ="nome" [(ngModel)]="model.nome" placeholder="Digite o Produto"></ion-input>
  </ion-item> -->

    <ion-item>
      <ion-label stacked>Quantidade</ion-label>
      <ion-input id="qtd" type="number" name="qtd" [(ngModel)]="model.qtd" placeholder="Digite a quantidade"
        formControlName="qtd" min="1" pattern="[0-9]*"></ion-input>
    </ion-item>

    <!--  <ion-item>
      <ion-label stacked>Tipo</ion-label>
      <ion-select
        name="tipo"
        [(ngModel)]="model.tipo"
        placeholder="Escolha o Tipo"
        formControlName="tipo"
      >
        <ion-option *ngFor="let item of arrTipo" value="{{ item.tipo }}">{{
          item.tipo
        }}</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label stacked>Und. Medida</ion-label>
      <ion-select name="unidade" [(ngModel)]="model.unidade" placeholder="Escolha a Unidade" formControlName="und">
        <ion-option *ngFor="let item of arrUnidade" value="{{ item.und }}">{{
          item.und
          }}</ion-option>
      </ion-select>
    </ion-item>

    <button type="submit" ion-button block (click)="save()" [disabled]="myForm.invalid">Salvar</button>
  </form>
</ion-content>
