<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="scroll-content" padding>
  <div class="div-components">
    <form [formGroup]="formSignUp">

      <ion-title>
        <h1>Cadastrar</h1>
      </ion-title>
      <div>
        <ion-item class="ion-item" no-lines>
          <ion-label>
            <ion-icon name="md-people"></ion-icon>
            Nome
          </ion-label>
          <ion-input type="text" formControlName="usuario" #usuario></ion-input>
        </ion-item>
        <div class="error" *ngIf="formSignUp.get('usuario').hasError('minlength') && formSignUp.get('usuario').touched">
          Mínimo 3 caracteres
        </div>
        <div class="error" *ngIf="formSignUp.get('usuario').hasError('maxlength') && formSignUp.get('usuario').touched">
          Máximo 16 caracteres
        </div>
      </div>
      <div>
        <ion-item class="ion-item" no-lines>
          <ion-label>
            <ion-icon name="md-people"></ion-icon>
            Login
          </ion-label>
          <ion-input type="text" formControlName="login" #login></ion-input>
        </ion-item>
        <div class="error" *ngIf="formSignUp.get('login').hasError('minlength') && formSignUp.get('login').touched">
          Mínimo 5 caracteres
        </div>
        <div class="error" *ngIf="formSignUp.get('login').hasError('maxlength') && formSignUp.get('login').touched">
          Máximo 16 caracteres
        </div>
        <div class="error" *ngIf="formSignUp.get('login').hasError('pattern') && formSignUp.get('login').touched">
          Não é possivel carácteres especiais
        </div>

      </div>

      <div>
        <ion-item class="ion-item" no-lines>
          <ion-label>
            <ion-icon name="md-mail"></ion-icon>
            Email
          </ion-label>
          <ion-input type="text" formControlName="email" #email></ion-input>
        </ion-item>
        <div class="error" *ngIf="formSignUp.get('email').hasError('pattern') && formSignUp.get('email').touched">
          Email inválido
        </div>
      </div>

      <div class="div-senha">
        <ion-item class="ion-item" no-lines>
          <ion-label>
            <ion-icon name="md-lock" left></ion-icon>
            Senha
          </ion-label>
          <ion-input type="password" formControlName="senha" #senha></ion-input>
        </ion-item>
        <div class="error" *ngIf="formSignUp.get('senha').hasError('minlength') && formSignUp.get('senha').touched">
          Mínimo 5 caracteres
        </div>
        <div class="error" *ngIf="formSignUp.get('senha').hasError('maxlength') && formSignUp.get('senha').touched">
          Máximo 16 caracteres
        </div>
      </div>
      <div class="div-loja">
        <ion-item class="ion-item" no-lines>
          <ion-label>
            <ion-icon name="md-bookmark" left></ion-icon>
            Loja
          </ion-label>
          <ion-input type="number" min="1" pattern="[1-9]*" formControlName="loja" #loja></ion-input>
        </ion-item>
      </div>
      <button ion-button round [disabled]="formSignUp.invalid" (click)="insertUser()">Cadastrar</button>
    </form>
  </div>

</ion-content>
